@charset "utf-8";
@import "https://use.fontawesome.com/releases/v5.13.0/css/all.css";


@mixin fontsize($font : 24){
    font-size:($font + px);
    font-size:($font / 10)* 1rem;
}


//color//
$background: #f2f3f5;
$fontColor:#222222;
$baseColor:#066594;
//


html {
font-size: 62.5%;
}

.uppercase {
  text-transform: uppercase;
}

*{
  box-sizing:border-box;
}

/* Base
------------------------------------------------------------*/
body{
  color: $fontColor;
  background:$background;
  line-height: 1.6;
  letter-spacing:1px;
  font-family:"Josefin Sans",sans-serif;
}

a {
  text-decoration: none;
  letter-spacing:1px;
  line-height:18px;
  display:inline-block;
  color:#222222;
  @include fontsize(18);
}

ul{
  margin:0;
li{
  list-style:none;
}
}


p{
  letter-spacing:1px;
  @include fontsize(18);
}

/* Align
------------------------------------------------------------*/
.center {
  text-align: center;
}

/* Layout
------------------------------------------------------------*/
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.button{
    margin: 32px 16px;
    display:block;
    text-align:center;
}



/* Header
------------------------------------------------------------*/
header{
  padding:0 5%;
  width:100%;
  h1{
    @include fontsize(42);
    text-align:center;
  }
}



//main//
.main{
  margin:15px auto 0 auto;
  padding:0 5%;
  width:100%;
  .wrapper{
  display:flex;
  flex-wrap:wrap;
  .button{
    width:25%;
    margin:36px 0;
  }
}

.button1{
  a{
  position:relative;
  padding-bottom:7px;
  &:after{
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:2px;
    background:$baseColor;
    opacity:0;
    transform:translateY(3px);
    transition: opacity .2s ease, transform .2s ease;
  }
  &:hover::after{
    opacity:1;
    transform:translateY(0);
  }
}
}



.button2{
  a{
  position:relative;
  padding-bottom:7px;
  &:after{
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:2px;
    background:$baseColor;
    opacity:1;
    transform:translateY(0px);
    transition: all .2s ease;
  }
  &:hover::after{
    opacity:0;
    transform:translateY(3px);
  }
}
}

.button3{
  a{
  position:relative;
  padding:0 2px 7px 2px;
  &:after{
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:0%;
    height:2px;
    background:$baseColor;
    opacity:1;
    transition: all .3s ease;
  }
  &:hover::after{
    width:100%;
  }
}
}


.button4{
  a{
  position:relative;
  padding:0 2px 7px 2px;
  &:after{
    content:"";
    position:absolute;
    bottom:0;
    right:0;
    width:100%;
    height:2px;
    background:$baseColor;
    opacity:1;
    transform:scaleX(0);
    transform-origin:bottom left;
    transition: all .4s ease-in-out;
  }
  &:hover::after{
    transform:scaleX(1);
    transform-origin:bottom right;
  }
}
}


.button5{
  a{
  position:relative;
  padding:0 5px;
  &:after{
    content:"";
    position:absolute;
    bottom:30%;
    left:-1px;
    width:100%;
    height:3px;
    background:$baseColor;
    opacity:1;
    transform:scaleX(0);
    transform-origin:bottom left;
    transition: all .3s ease-in-out;
  }
  &:hover::after{
    transform:scaleX(1);
    transform-origin:bottom right;
  }
}
}

.button6{
  a{
  position:relative;
  padding:0 2px 7px 2px;
  &:after{
    content:"";
    position:absolute;
    bottom:0;
    right:0;
    width:100%;
    height:2px;
    background:$baseColor;
    opacity:1;
    transform:scaleX(1);
    transform-origin:bottom right;
    transition: all .4s ease-in-out;
  }
  &:hover::after{
    transform:scaleX(0);
    transform-origin:bottom left;
  }
}
}


.button7{
  a{
  position:relative;
  padding:7px 2px;
  &:before{
    content:"";
    position:absolute;
    top:0;
    right:0;
    width:100%;
    height:2px;
    background:$baseColor;
    opacity:1;
    transform:scaleX(0);
    transform-origin:top right;
    transition: all .3s ease-in-out;
  }
  &:after{
    content:"";
    position:absolute;
    bottom:0;
    right:0;
    width:100%;
    height:2px;
    background:$baseColor;
    opacity:1;
    transform:scaleX(0);
    transform-origin:bottom left;
    transition: all .3s ease-in-out;
  }
  &:hover::after{
    transform:scaleX(1);
    transform-origin:bottom right;
  }
  &:hover::before{
    transform:scaleX(1);
    transform-origin:top left;
  }
}
}


.button8{
  a{
  position:relative;
  padding:7px 2px;
  &:before{
    content:"";
    position:absolute;
    top:0;
    right:0;
    width:100%;
    height:2px;
    background:$baseColor;
    opacity:0;
    transform:translateY(-3px);
    transition: all .4s ease;
  }
  &:after{
    content:"";
    position:absolute;
    bottom:0;
    right:0;
    width:100%;
    height:2px;
    background:$baseColor;
    opacity:0;
    transform:translateY(3px);
    transition: all .4s ease;
  }
  &:hover::after{
    transform:translateY(0);
    opacity:1;
  }
  &:hover::before{
    transform:translateY(0);
    opacity:1;
  }
}
}


.button9{
  a{
  position:relative;
  padding:0 15px;
  line-height:35px;
  overflow:hidden;
  border:solid 1px $baseColor;
  &:before{
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    background:$baseColor;
    transform:translateX(-100px);
    transition: transform .3s ease-in;
    z-index:-2;
  }
  &:hover{
    color:#fff;
  }
  &:hover::before{
    transform:translateX(0);
    transition:transform .3s ease-out;
  }
}
}


.button10{
  a{
  position:relative;
  padding:0px 15px;
  overflow:hidden;
  line-height:35px;
  border:solid 1px $baseColor;
  &:before{
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    background:$baseColor;
    transform:translateY(100%);
    transition: transform .2s ease-in;
    z-index:-2;
  }
  &:hover{
    color:#fff;
  }
  &:hover::before{
    transform:translateY(0);
    transition:transform .2s ease-out;
  }
}
}


.button11{
  a{
  position:relative;
  padding:0px 15px;
  overflow:hidden;
  line-height:35px;
  transform:scale(1,1);
  transition:all ease .2s;
  &:hover{
  transform:scale(1.2,1.2);
  }
}
}


.button12{
  a{
    position:relative;
    padding:0px 15px;
    overflow:hidden;
    line-height:35px;
   &:hover{
     animation:swing 1s ease;
     animation-iteration-count:1
   }
     @keyframes swing{
       15%{
         transform:translateX(5px)
       }
       30%{
         transform:translateX(-5px)
       }
       50%{
         transform:translateX(3px)
       }
       65%{
         transform:translateX(-3px)
       }
       80%{
         transform:translateX(2px)
       }
       100%{transform:translateX(0)
       }
     }
}
}

.button13{
  a{
  padding:0px 15px;
  line-height:35px;
  transition:.2s ease;
  transform:translateY(3px);
  border:1px solid $baseColor;
&:hover{
  transform:translateY(0);
  color:#fff;
  background:$baseColor;
}
}
}

.button14{
  a{
  padding:0px 15px;
  line-height:35px;
  transition:.2s ease;
  border:1px solid $baseColor;
  background:$baseColor;
  color:#fff;
&:hover{
  color:$baseColor;
  background:$background;
}
}
}

.button15{
  a{
  padding:0px 15px;
  line-height:35px;
  transition:.2s ease;
  border:1px solid $baseColor;
  background:$baseColor;
  color:#fff;
  box-shadow:0px 3px 1px 0px rgba(87, 87, 89, .7);
  transform:translateY(-3px);
&:hover{
  transform:translateY(0);
  box-shadow:none;
}
}
}

.button16{
  a{
  padding:0px 15px;
  line-height:35px;
  transition:.2s ease;
  transform:translateY(1px);
  border:1px solid $baseColor;
  box-shadow:1px 2px 2px rgba(87, 87, 89, .7);
&:hover{
  transform:translateY(0);
  box-shadow:1px 4px 8px rgba(87, 87, 89, .7);
}
}
}


.button17{
  a{
  position:relative;
  padding:0px 15px;
  line-height:35px;
  background:$baseColor;
  color:#fff;
  overflow:hidden;
&:after{
  position:absolute;
  content:"";
  width:8px;
  height:150px;
  background:rgba(245, 251, 252, .4);
  transform:rotate(35deg) translate3d(-1000%, 0px, 0);
  top:0px;
  left:0px;
}
&:hover::after{
  transform:translate3d(200px,0, 0);
  transition:.7s ease-out;
}
}
}
      
.button18{
  a{
  padding:0px 35px 0 20px;
  line-height:35px;
  transition:.3s ease;
  color:$baseColor;
  position:relative;
  border:1px solid $baseColor;
  &::after{
  position:absolute;
  top:38%;
  right:20px;
  content:"";
  width:7px;
  height:7px;
  border-top:1px solid $baseColor;
  border-right:1px solid $baseColor;
  transform:rotate(45deg);
  transition:.1s ease-in;
  }
&:hover::after{
  right:15px;
}
}
}

.button19{
  a{
  line-height:35px;
  transition:.3s ease;
  color:$baseColor;
  position:relative;
  border:1px solid $baseColor;
span{
  transform:translateX(0);
  transition:all .15s ease-in;
  display:block;
  padding:0 30px;
  &::after{
  position:absolute;
  top:38%;
  left:-5px;
  content:"";
  width:7px;
  height:7px;
  border-top:1px solid $baseColor;
  border-right:1px solid $baseColor;
  transform:rotate(45deg);
  transition:all .15s ease-in;
  opacity:0;
  }
  &:hover{
    transform:translateX(5px);
  }
  &:hover::after{
   opacity:1;
   left:0px;
  }
}
}
}

.button20{
  a{
  line-height:35px;
  padding:0 17px 0 30px;
  transition:.3s ease;
  color:$baseColor;
  position:relative;
  border:1px solid $baseColor;
span{
  transition:all .2s ease-in;
  display:inline-block;
}
i{
  opacity:0;
  transition:.2s ease-in;
  margin-left:7px;
  transform:translateX(-5px);
}
&:hover{
  background:$baseColor;
  span{
    transform:translateX(-5px);
    color:#fff;
  }
  i{
    opacity:1;
    transform:translateX(0);
    color:#fff;
  }
}
}
}


.button21{
  a{
  position:relative;
  padding:0 30px;
  line-height:35px;
  color:$baseColor;
  overflow:hidden;
  transition:color .2s ease-in;
  border:1px solid $baseColor;
&:hover{
  color:#fff;
  transition:color .2s ease-out;
}
&:before{
  position:absolute;
  content:"";
  width:150%;
  height:550%;
  background:$baseColor;
  transform:rotate(45deg) translate3d(-50%, 55%, 0);
  top:0px;
  left:0px;
  transition:.3s ease-in;
  z-index:-2;
}
&:hover::before{
  transform:rotate(45deg) translate3d(-50%,-25%, 0);
  transition:.25s ease-out;
}
}
}


.button22{
  a{
  position:relative;
  padding:0 30px;
  line-height:35px;
  color:$baseColor;
  overflow:hidden;
  transition:color .2s ease-in;
  border:1px solid $baseColor;
&:hover{
  color:#fff;
  transition:color .2s ease-out;
}
&:before{
  position:absolute;
  content:"";
  width:150%;
  height:550%;
  background:$baseColor;
  transform:rotate(45deg) translate3d(-115%, -20%, 0);
  top:0px;
  left:0px;
  transition:.3s ease-in;
  z-index:-2;
}
&:hover::before{
  transform:rotate(45deg) translate3d(-45%, -20%, 0);
  transition:.25s ease-out;
}
}
}


.button23{
  a{
  position:relative;
  padding:0 30px;
  line-height:35px;
  color:$baseColor;
  overflow:hidden;
  transition:color .2s ease-in;
  border:1px solid $baseColor;
&:hover{
  color:#fff;
  transition:color .2s ease-out;
}
&:before{
  position:absolute;
  content:"";
  width:10px;
  height:10px;
  background:$baseColor;
  transform:translate3d(0%, 0%, 0) scale3d(0,0,0);
  top:-20%;
  left:-10%;
  border-radius:50%;
  transition:.35s ease-in;
  z-index:-2;
  overflow:hidden;
}
&:hover::before{
  transform:translate3d(20%, 20%, 0) scale3d(30,30,30);
  transition:.35s ease-out;
}
}
}



.button24{
  a{
  position:relative;
  padding:0 30px;
  line-height:35px;
  color:$baseColor;
  overflow:hidden;
  transition:color .2s ease-in;
  border:1px solid $baseColor;
&:hover{
  color:#fff;
  transition:color .2s ease-out;
}
&:before{
  position:absolute;
  content:"";
  width:10px;
  height:10px;
  background:$baseColor;
  transform:translate3d(0%, 0%, 0) scale3d(0,0,0);
  bottom:-10%;
  left:-10%;
  border-radius:50%;
  transition:.35s ease-in;
  z-index:-2;
  overflow:hidden;
}
&:hover::before{
  transform:translate3d(20%, 0%, 0) scale3d(30,30,30);
  transition:.35s ease-out;
}
}
}

.button25{
  a{
  padding:0px 30px;
  line-height:35px;
  transition:.3s ease;
  border-color:$background;
  box-shadow:3px 3px 6px #cfd0d1 ,-3px -3px 6px #fff;
&:hover{
  transition:.3s ease;
  box-shadow:inset 2px 2px 5px #cfd0d1, inset -3px -3px 7px #fff;
}
}
}

}